<!-- Post Template -->
<article class="post fade-in">
  <h2 class="entry-title">
    <%= data.title %>
  </h2>
  <div class="entry-meta">
  <% if(data.date) { %>
    <time class="post-date">
      投稿日:<%=data.year%>年<%=data.month%>月<%=data.day%>日　投稿者:<%= data.author %>
    </time>
  <% } %>
  </div>
  <div class="post-tags">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
          <a href="#/posts?tag=<%= tag %>" class="post-tag"><%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <div class="entry-content">
    <%= data.body %>
  </div>
</article>
