<!-- Post Template -->
<article class="post fade-in">
  <h2 class="entry-title">
    <%= data.title %>
  </h2>
  <div class="entry-meta">
  <% if(post.date) { %>
    <time class="post-date">
      投稿日:<span><%= post.date %>投稿者:<%= post.author %></span>
    </time>
  <% } %>
  </div>
  <div class="post-tags">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
          <a href="#/posts?tag=<%= tag %>" class="post-tag"><%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <div class="entry-content">
    <%= data.body %>
  </div>
</article>
